{% extends '/frame/base.twig' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Grocerizer - Inventory system for groceries</h1>
    </div>
    <div class="text-center blockquote-footer">Developed by Spirou333</div>
  </div>
  <div class="row banner panels mt-5">
    <div class="col-6">
      <a href="/scan" class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Scan</h5>
          <p class="card-text">Scan the barcode of a product to add/update it in the inventory</p>
        </div>
      </a>
    </div>
    <div class="col-6">
      <a href="/view" class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Inventory</h5>
          <p class="card-text">View the current inventory and make changes to it directly</p>
        </div>
      </a>
    </div>
    <div class="col-6">
      <a href="/shoppingList" class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Shopping List</h5>
          <p class="card-text">View your current shopping list and modify it</p>
        </div>
      </a>
    </div>
  </div>
{% endblock %}
