<!doctype html>
<html lang="en">
  <head>
    <style>
    </style>
  </head>
  <body>
    <h1>Register new item</h1>
    <div class="form">
      <label for="ean">EAN</label>
      <input id="ean" disabled value="{{ ean }}">
      <label for="itemName">Item Name</label>
      <input id="itemName">
      <label for="quantity">Quantity</label>
      <input id="quantity">
    </div>
  </body>
</html>
