<!doctype html>
<html lang="en">
  <head>
    <style>

    </style>
  </head>
  <body>
    <h1>Scan</h1>

    <div id="stream"></div>
    <p id="startdecoder">Start Scanner</p>
    <p id="stopdecoder">Stop Scanner</p>

    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/quagga.min.js"></script>
    <script src="/js/barDecoder.js"></script>
  </body>
</html>
