<!doctype html>
<html lang="en">
  <head>
    <style>

    </style>
  </head>
  <body>
    <div class="itemfound">
      <h2>This item is registered</h2>
      <label>EAN</label>
      <input></input>
      <label>How much?</label>
      <input></input>
    </div>
    <div class="newitem">
      <h2>This item isn't registered yet</h2>
      <p>EAN</p>
      <p>Image</p>
      <p>Name</p>
      <p>Category</p>
      <p>Size</p>
    </div>
  </body>
</html>
