{% extends '/frame/base.twig' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Item Found</h1>
    </div>
  </div>
  <div class="row banner panels mt-5">
    <div class="col-12">
      <div class="form" id="updateItemForm">
        <div class="mb-3">
          <label for="ean" class="form-label">EAN</label>
          <input class="form-control" id="ean" disabled value="{{ ean }}">
          <div class="form-text">Automatically set by scanner</div>
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input class="form-control mb-2" id="quantity" value="{{ quantity }}">
          <button class="btn btn-secondary" onclick="$('#quantity').val((parseInt($.trim($('#quantity').val())))+1)">+</button>
          <button class="btn btn-secondary" onclick="$('#quantity').val((parseInt($.trim($('#quantity').val())))-1)">-</button>
        </div>
        <button class="btn btn-primary" onclick="submit('updateQuantity','updateItemForm')">Submit</button>
      </div>
    </div>
  </div>
  <script src="/js/vendor/jquery.min.js"></script>
  <script src="/js/submitter.js"></script>
{% endblock %}
